# Ignore everything by default
/*

# Keep only files created for the tray tool
!/.gitignore
!/runner-tray.ps1
!/runner-tray.cmd
!/README.md
!/LICENSE
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yml
!/tests/
!/tests/runner-tray.Tests.ps1
